*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    display: flex;
    justify-content: end;
    background-color: black;
    color: white;
    height: 200px;
}

ul > li{
    display: inline;
    margin-left: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 20px;
}

ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

ul > li > a:hover{
    color: gold;
}

.my_btn{
    background-color: orange;
    border: none;
    padding: 20px 30px;
}

.container_btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.my_btn:hover{
    background-color: orangered;
    color: white;
}

.news{
    width: 330px;
    margin: 10px 20px;
    padding: 25px;
    display: inline-block;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.news > img{
    width: 320px;
}

.news > h2{
    text-align: center;
}

.news > button{
    background-color: orange;
    border: none;
    padding: 20px 10px;
}

.news > button:hover{
    background-color: brown;
    cursor: pointer;
}

.news{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}


