*{
    margin: 0;
    padding: 0;
}

.container{
    height: 400px;
    background-color: black;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(12, 1fr);
   
}

.item{
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}


.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.row{
    background-color: blueviolet;
    grid-row: 2 / 3;
}